.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.admin-dashboard-container h2 {
  margin-top: 0;
  font-size: 35px;
}

.faculty-form {
  margin-bottom: 20px;
}

.faculty-form input[type='email'],
.faculty-form input[type='text'] {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.faculty-form button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: rgb(79, 79, 187);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faculty-form button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.faculty-form button:hover:enabled {
  background-color: rgb(40, 40, 146);
}

.faculty-list {
  text-align: center;
}

.faculty-list h3 {
  margin: 0;
}

.faculty-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.faculty-list table th,
.faculty-list table td {
  padding: 10px;
  border: 0.5px solid #c9c7d5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.faculty-list .edit-button {
  padding: 5px 10px;
  background-color: rgb(79, 79, 187);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.faculty-list .remove-button {
  padding: 5px 10px;
  background-color: #bb4646;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.faculty-list .remove-button:hover {
  background-color: rgb(146, 40, 40);
}

.faculty-list .edit-button:hover {
  background-color: rgb(40, 40, 146);
}
