.page-container {
    display: flex;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: #19122a;
    padding: 20px;
    color: #fff;
    z-index: 1;
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 120px 0 0 0;
  }
  
  .ams {
    font-size: 35px;
  }
  
  .sidebar li {
    margin-bottom: 30px;
  }
  
  .sidebar li:last-child {
    margin-bottom: 0;
  }
  
  .sidebar li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .sidebar li a:hover {
    color: #ffd700;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      padding: 20px 10px;
    }
  
    .sidebar ul {
      display: flex;
      flex-direction: column;
    }
  
    .sidebar li {
      margin-bottom: 15px;
    }
  }
  
  .rightbar {
    width: 85%;
    padding: 20px;
    margin-left: 15%;
    overflow-y: auto;
  }
  
  .rightbar .image {
    display: flex;
    align-items: center;
  }
  
  .rightbar .image img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  
  .rightbar .image .faculty-info p {
    margin: 3px 0;
    font-weight: bold;
  }
  
  .faculty-info .faculty-qualification {
    color: rgb(54, 54, 54);
  }
  
  .faculty-info .faculty-email {
    color: rgb(54, 54, 54);
  }
  
  .rightbar .image .date {
    position: absolute;
    right: 50px;
    color: rgb(6, 6, 6);
    font-size: 25px;
    font-weight: bolder;
  }
  
  .classInfo {
    margin-top: 65px;
    font-size: 25px;
  }
  
  .rightbar .date {
    position: absolute;
    right: 50px;
    color: rgb(6, 6, 6);
    font-size: 25px;
    font-weight: bolder;
  }
  
  .classInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
    font-size: 20px;
  }
  
  .classInfo input {
    padding: 10px 10px;
    border: 1px solid #b0afce;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
  }
  
  .attendance-container {
    margin-top: 20px;
  }
  
  .attendance-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attendance-table th,
  .attendance-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .attendance-table th {
    background-color: #f0f0f0;
  }
  
  .attendance-table input[type='checkbox'] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .attendance-table input[type='checkbox']:checked {
    background-color: green;
    border: 1px solid #000;
  }
  
  .attendance-table input[type='checkbox']:not(:checked) {
    background-color: #a80000;
    border: 1px solid #000;
  }
  
  .attendance-table tfoot td {
    font-weight: bold;
  }
  