.attendance-table tbody tr.highlighted {
  color: rgb(91, 88, 88);
  font-weight: bold;
  font-size: 20px;
  text-decoration-line: underline;
}

.image {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.faculty-info p {
  margin: 0;
}

.faculty-name {
  font-size: 16px;
  font-weight: bold;
}

.faculty-qualification,
.faculty-email {
  font-size: 14px;
}

.rightside .image {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background:white;

}

.rightside .image .date {
  position: relative;
  top: 0;
  left:65%;
  color: rgb(6, 6, 6);
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  border-radius: 10px;
 
}

.today-date {
  font-size: 18px;
  font-weight: bold;
}

.date-navigation {
  display: flex;
  margin-top: 10px;
}

.navigation-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-color);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

.navigation-button:hover{
  background-color: var(--button-color-hover);
}




.classInfo {
  margin-bottom: 20px;
  text-align: center; 
}

.classInfo h1 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center !important;
  color: #333; 
  text-transform: uppercase; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 

  cursor: pointer;
}

.success-message {
  position: fixed;
  top: 20px;
  left: 55%;
  transform: translateX(-50%);
  background-color: rgb(61, 152, 61);
  color: white;
  padding: 10px;
  z-index: 1;
}

.message-container {
  position: fixed;
  top: 20px;
  left: 55%;
  transform: translateX(-50%);
  background-color: rgba(207, 3, 3, 0.863);
  color: white;
  border-radius: 3px;
  padding-left: 1em;
  padding-right: 1em;
  animation: shake 0.6s;
  z-index: 1;
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statistics-card {
  flex-basis: 30%;
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;
}

.statistics-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.statistics-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  color: rgb(0, 0, 0);
}

.statistics-value {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}


.attendance-container {
  overflow-x: auto;
  max-height: calc(100vh - 250px);
  scrollbar-width: thin; 
  scrollbar-color: #888888 #f0f0f0;
}

.attendance-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

.attendance-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.attendance-container::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 20px;
}

.attendance-container::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table thead tr th{
  background-color: #72787b;
  padding: 15px;
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  background-color: white;
}
.attendance-table input[type='checkbox'] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.attendance-table input[type='checkbox']:checked {
  background-color: green;
  border: 1px solid #000;
}

.attendance-table input[type='checkbox']:not(:checked) {
  background-color: red;
  border: 1px solid #000;
}

.attendance-table input[type='checkbox'][data-status='none'] {
  background-color: rgb(170, 170, 165);
  border: 1px solid #000;
}

.attendance-table tfoot td {
  font-weight: bold;
}

.submit-button {
  position:relative;
  padding: 10px 20px;
  left:35rem;
  border: none;
  border-radius: 4px;
  background-color: var(--button-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

.submit-button:hover{
  background-color: var(--button-color-hover);
}

.submit-button:disabled{
  cursor: not-allowed;
}

.submitting {
  cursor: not-allowed;
  opacity: 0.7;
}

.filters-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.filters-container label {
  font-weight: bold;
  margin-left: 10px;
}

.filters-container input[type="date"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 15px;
}

.filters-container button.download-button {
  background-color: var(--button-color);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.filters-container button.download-button:hover{
  background-color: var(--button-color-hover);
}

@media(max-width:768){

}
