.page-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 10%;
  background-color: #03011e;
  padding: 20px;
}

.rightbar {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.ams {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

.image {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.faculty-info p {
  margin: 0;
}

.faculty-name {
  font-size: 16px;
  font-weight: bold;
}

.faculty-qualification,
.faculty-email {
  font-size: 14px;
}

.today-date {
  font-size: 18px;
  font-weight: bold;
}

.date-navigation {
  display: flex;
  margin-top: 10px;
}

.navigation-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

.classInfo h1 {
  margin-top: 0;
  font-size: 34px;
  font-weight: bold;
}

.classInfo input {
  width: 20%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.success-message {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statistics-card {
  flex-basis: 30%;
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
}

.statistics-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.statistics-value {
  font-size: 24px;
  font-weight: bold;
}

.attendance-container {
  overflow-x: auto;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.attendance-table input[type='checkbox'] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.attendance-table input[type='checkbox']:checked {
  background-color: green;
  border: 1px solid #000;
}

.attendance-table input[type='checkbox']:not(:checked) {
  background-color: #a80000;
  border: 1px solid #000;
}

.attendance-table tfoot td {
  font-weight: bold;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.submitting {
  cursor: not-allowed;
  opacity: 0.7;
}


/* Add this CSS code in your CSS file or style block */

.filters-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.filters-container label {
  font-weight: bold;
  margin-left:10px;
}

.filters-container input[type="date"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 15px;
}

.filters-container button.download-button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.filters-container button.download-button:hover {
  background-color: #45a049;
}

.filters-container button.download-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
