
.profile-container {
  display: flex;
  border: 3px solid rgb(1, 1, 30);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.3px);
  -webkit-backdrop-filter: blur(18.3px);
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 2em;
  min-height: 610px;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(25px) saturate(180%)
  
}

.faculty-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid goldenrod;
  margin-bottom: 20px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.faculty-image:hover {
  transform: scale(1.05);
}

.faculty-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.faculty-name p {
  font-size: 18px;
  color: #777;
  margin: 0;
}

.profile-right {
  background-color: #021932fc;
  margin: 0 0 0 2%;
  padding: 50px;
  border-radius: 10px;
  border: 4px solid var(--button-color);
  width: 60%;
}

.faculty-dept {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.faculty-qualification,
.faculty-email {
  font-size: 16px;
  color: white;
  margin: 5px 0;
}

.dept-heading, .qualification-heading, .email-heading{
  color: wheat;
  font-weight: 400;
}

.profile-actions {
  margin-top: 20px;
}

.contact-admin-button,
.logout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.contact-admin-button {
  background-color: #007bff;
  position: absolute;
  right: 8%;
  bottom: 10%;
}

.logout-button {
  margin-left: 10px;
  background-color: #dc3545;
  position: absolute;
  right: 22%;
  bottom: 10%;
}

.contact-admin-button:hover{
  background-color: rgb(37, 116, 181);
}
.logout-button:hover {
  background-color: rgb(199, 52, 52);
}

@media screen and (max-width: 1024px) {
  .profile-container {
    flex-direction: column; /* Adjust flex direction for smaller screens */
  }

  .profile-left {
    width: 100%;
    margin-bottom: 20px; /* Add margin at the bottom to separate from the profile-right section */
  }

  .profile-right {
    margin: 0;
    padding: 20px; /* Adjust padding for better spacing */
    width: 100%;
  }
}