
.rightbar {
    width: 85%;
    padding: 20px;
    padding-bottom: 20%;
    margin-left: 12%;
    overflow-y: auto;
    /* background: var(--rightbar-background); */
  }
  @media(max-width:768px){
    .rightbar{
      width: 100%;
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;
      background: var(--rightbar-background);
      padding-bottom: 30%;
    }
  }