/* Common styles for larger screens */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 12%;
  height: 100vh;
  background-color: #051626;
  color: #fff;
  z-index: 1;
}

.ams {
  font-size: 30px;
  margin-left: 45px;
}

.sidebar .logo {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-left: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 120px 0 0 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar li.menu-heading {
  font-weight: bold;
  color: #aaa;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 25px;
  padding: 10px 0px 10px 0px;
}

.sidebar li a:hover {
  background-color: #555;
  color: #ccc;
}

.sidebar li a .icon {
  margin-right: 10px;
  margin-left: 25px;
}

.sidebar li:last-child {
  margin-top: 100%;
  background-color: #526293b8;
}

.sidebar a.active {
  background-color: #cccccc46;
  color: white;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.profile-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.hamburger{
  display: none;
}



@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: 60px; /* Adjust the height as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: transform 1s ease-in;
  }

  .sidebar .logo,
  .sidebar .ams {
    display: none;
  }

  .sidebar ul {
    display: none; /* Hide the sidebar links by default */
  }

  .sidebar.open{
    transform: translateY(0);

  }
  .sidebar.open ul {
    display: block;
    position: absolute;
    padding: 10px 20px; 
    top: -100%; 
    left: 0;
    width: 25%;
    height: 100vh;
    background-color: rgb(1, 4, 28);
    padding: 10px;
    z-index: 1;
  }

  .hamburger {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
  }

  .horizontal-line{
    display: none;
  }

  .sidebar li a {
    /* Styles for the hamburger menu links */
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
  }
}
   