/* Common styles for larger screens */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 12%;
  height: 100vh;
  background-color: #051626;
  color: #fff;
  z-index: 1;
}

.ams {
  font-size: 30px;
  margin-left: 45px;
}

.sidebar .logo {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-left: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 120px 0 0 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar li.menu-heading {
  font-weight: bold;
  color: #aaa;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 25px;
  padding: 10px 0px 10px 0px;
}

.sidebar li a:hover {
  background-color: #555;
  color: #ccc;
}

.sidebar li a .icon {
  margin-right: 10px;
  margin-left: 25px;
}

.sidebar li:last-child {
  margin-top: 35vh;
  background-color: #526293b8;
}

.sidebar a.active {
  background-color: #cccccc46;
  color: white;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.profile-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.hamburger{
  display: none;
}



@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: transform 1s ease-in;
  }

  .sidebar .logo,
  .sidebar .ams {
    display: none;
  }

  .sidebar ul {
    display: none; 
  }
  .sidebar li:last-child {
    margin-top: 65vh;
  }

  .sidebar.open{
    transform: translateY(0);

  }
  .sidebar.open ul {
    display: block;
    position: absolute;
    padding: 10px 20px; 
    top: -100%; 
    left: 0;
    width: 25%;
    height: 100vh;
    background-color: #051626; 
    padding: 10px;
    z-index: 1;
  }

  .hamburger {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
  }

  .horizontal-line{
    display: none;
  }

  .sidebar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
  }
}

@media (min-width:501px) and (max-width: 800px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }
  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    margin-top: 15%;
  }
  .sidebar.open li:nth-child(1){
    margin-top: 20%;
  }
}

@media (min-width:801px) and (max-width: 1024px) {
  .sidebar li:last-child {
    margin-top: 55vh;
  }

  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    margin-top: 15%;
  }
  .sidebar.open li:nth-child(1){
    margin-top: 20%;
  }
  
}
   
@media (max-width: 500px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }

  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    margin-top: 20%;
  }
  .sidebar.open li:nth-child(1){
    margin-top: 20%;
  }
}

@media (max-width: 473px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }
  .sidebar.open ul{
    width: 30%;
  }
  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    width: 100%;
    margin-top: 20%;
  }
}

@media (max-width: 415px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }
  .sidebar.open ul{
    width: 30%;
  }
  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    width: 100%;
    margin-top: 20%;
  }
}


@media (max-width: 394px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }

  .sidebar.open ul{
    width: 32%;
  }
  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    width: 100%;
    margin-top: 20%;
  }
}

@media (max-width: 377px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }
  .sidebar.open ul{
    width: 32%;
  }
  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    margin-top: 17%;
  }
  .sidebar.open li:nth-child(1){
    margin-top: 20%;
  }
}

@media (max-width: 370px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }

  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    margin-top: 17%;
  }
  .sidebar.open li:nth-child(1){
    margin-top: 20%;
  }

}

@media (max-width: 360px){
  .sidebar li:last-child {
    margin-top: 60vh;
  }
  .sidebar.open ul{
    width: 35%;
  }
  .sidebar.open li:nth-child(1),
  .sidebar.open li:nth-child(2),
  .sidebar.open li:nth-child(3) {
    margin-top: 17%;
  }
  .sidebar.open li:nth-child(1){
    margin-top: 35%;
  }
}
@media (min-width:820px) and (max-height: 1180px){
  .sidebar li:last-child{
    margin-top: 45vh;
  }
}

@media (min-width:768px) and (max-height: 1024px){
  .sidebar li:last-child{
    margin-top: 30vh;
  }
}

@media (min-width:912px) and (max-height: 1368px){
  .sidebar li:last-child{
    margin-top: 38vh;
  }
}

@media (min-width:360px) and (max-height: 740px){
  .sidebar li:last-child{
    margin-top: 50vh;
  }
}

@media (min-width:1024px) and (max-height: 600px){
  .sidebar li:last-child{
    margin-top: 35vh;
  }
}

@media (min-width:1280px) and (max-height: 800px){
  .sidebar li:last-child{
    margin-top: 30vh;
  }
}

@media (min-width:1400px) and (max-height: 800px){
  .sidebar li:last-child{
    margin-top: 25vh;
  }

}
@media (min-width:1025px) and (max-width: 1100px){
  .sidebar{
    width: 15%;
  }
  .sidebar .logo{
    margin-left: 30px;
  }
  .ams{
    margin-left: 45px;
  }
}